footer {
    background-color: $darkGreen;

    li {
        font-family: 'Cormorant Garamond', serif;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    a {
        color: $white;
        line-height: 22px;
    }

    .wrapper {
        display: flex;
        padding: 100px;
        align-items: flex-start;
    }

    nav,
    address {
        flex-basis: 25%;
    }
}

form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        background-color: $white;
        padding: 5px 80px 5px 20px;
    }

    input::placeholder {
        font-size: 0.7rem;
    }

    button {
        background-color: $black;
        color: $white;
        margin: 0;
        padding: 3px 25px;
        font-size: 0.7rem;
    }
}

address {
    font-style: normal;
    text-align: right;

    p {
        text-align: right;
        font-size: 0.7rem;
    }
}

.submission {
    margin-top: 10px;
    display: flex;
}

.copyright {
    background-color: $black;
    text-align: center;
    font-size: 0.7rem;
    padding: 5px 0;
}