header {
    background-image: url(../../assets/image-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    ul {
        display: flex;
    }

    a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        @include textStyle('Cormorant Garamond', 600, 0.9rem);
    }
}

.top-nav {

    ul {
        width: 33%;
    }

    li {
        flex-basis: 25%;
        padding: 20px 0;
    }

}

.socials {
    display: flex;
    justify-content: flex-end;
    height: 15%;
    position: absolute;
    bottom: 40px;
    right: 40px;

    ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
}