// partials
@import 'setup';
@import 'variables';
@import 'header';

html {
    font-size: 125%;
    color: $white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    width: 90%;
}