html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../../assets/image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header a {
  color: #FCFCFC;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 0.9rem;
}
header .wrapper {
  position: relative;
}

.top-nav ul {
  width: 33%;
}
.top-nav li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FCFCFC;
  border: 1px solid #152D20;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 15%;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.socials ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suzie {
  background-color: #152D20;
  padding: 100px 0;
}
.suzie .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.suzie .img-container {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.suzie .text-container {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 40px;
}
.suzie button {
  background-color: #FCFCFC;
  color: #152D20;
  padding: 10px 30px;
}
.suzie a {
  color: #152D20;
}
.suzie h2 {
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

.friends {
  background-color: #C3D3CB;
}
.friends h2 {
  color: #152D20;
  font-size: 2.45rem;
  text-align: center;
  padding: 100px 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.gallery li:nth-of-type(2) {
  margin: 0 40px;
}

.middle-nav {
  background-color: #152D20;
}
.middle-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 50px 0;
  position: relative;
  left: -30px;
}
.middle-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCFCFC;
  text-decoration: none;
}
.middle-nav h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  margin-top: 20px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10vw 10vw;
}
.blog .img-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.blog h3 {
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  color: #152D20;
}
.blog p {
  color: #000;
  margin-top: 15px;
}
.blog button {
  background-color: #152D20;
  padding: 10px 30px;
}
.blog a {
  color: #FCFCFC;
}
.blog .text-container {
  background-color: #FCFCFC;
}

footer {
  background-color: #152D20;
}
footer li {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}
footer a {
  color: #FCFCFC;
  line-height: 22px;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer nav,
footer address {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input {
  background-color: #FCFCFC;
  padding: 5px 80px 5px 20px;
}
form input::-webkit-input-placeholder {
  font-size: 0.7rem;
}
form input::-moz-placeholder {
  font-size: 0.7rem;
}
form input:-ms-input-placeholder {
  font-size: 0.7rem;
}
form input::-ms-input-placeholder {
  font-size: 0.7rem;
}
form input::placeholder {
  font-size: 0.7rem;
}
form button {
  background-color: #000;
  color: #FCFCFC;
  margin: 0;
  padding: 3px 25px;
  font-size: 0.7rem;
}

address {
  font-style: normal;
  text-align: right;
}
address p {
  text-align: right;
  font-size: 0.7rem;
}

.submission {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  background-color: #000;
  text-align: center;
  font-size: 0.7rem;
  padding: 5px 0;
}

@media (max-width: 940px) {
  .top-nav ul {
    width: 80%;
  }
  .suzie .img-container,
.suzie .text-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .blog article,
.blog .img-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog .img-container {
    height: 40vh;
  }
  .blog article {
    height: 50vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog h3 {
    text-align: center;
  }
  .blog p {
    text-align: center;
  }
  .blog .first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
  }
  footer nav,
footer form,
footer address {
    width: 100%;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer li {
    font-size: 1rem;
  }
  footer h4 {
    font-size: 1.4rem;
    margin-top: 40px;
  }
  footer .submission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer input {
    background-color: #FCFCFC;
    padding: 15px 10vw 15px 23vw;
  }
  footer input::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
  footer input::-moz-placeholder {
    font-size: 0.9rem;
  }
  footer input:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  footer input::-ms-input-placeholder {
    font-size: 0.9rem;
  }
  footer input::placeholder {
    font-size: 0.9rem;
  }
  footer button {
    margin-top: 10px;
    padding: 14px 25px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
  }
  footer address {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  footer address p {
    text-align: center;
    font-size: 0.8rem;
  }
  footer .copyright {
    font-size: 0.8rem;
    padding: 15px 0;
  }
}
@media (max-width: 480px) {
  header {
    background-position: 35%;
    height: 65vh;
  }
  header .nav-menu {
    top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header .socials-menu {
    top: 455px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
  }
  header .nav-menu,
header .socials-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #C3D3CB;
  }
  header li {
    margin: 16px 0;
  }
  header ul.active {
    left: 0;
  }
  header h1 {
    position: absolute;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
    top: -10px;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(16px) rotate(45deg);
            transform: translateY(16px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
html {
  font-size: 125%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Fredericka The Great";
  font-weight: 400;
  font-size: 6rem;
  text-align: right;
  line-height: 5.9rem;
  text-transform: uppercase;
  color: #FCFCFC;
}

h2 {
  font-family: "Fredericka The Great", cursive;
  font-weight: 400;
  text-transform: uppercase;
  color: #FCFCFC;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 29px;
  text-transform: uppercase;
  color: #FCFCFC;
  padding-bottom: 8px;
}

p,
label {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
  color: #FCFCFC;
}

a {
  text-decoration: none;
}

button {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-top: 30px;
}

span {
  display: block;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}